.list {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  -webkit-animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (width <= 1150px) {
  .list {
    gap: 18px;
  }
}

@media (width <= 975px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 768px) {
  .title {
    font-size: 18px;
    margin-bottom: 60px;
  }

  @media (width <= 740px) {
    .list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
