.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  backdrop-filter: blur(14px);
  transition: ease-in;
  transition-duration: 0.2s;
  z-index: 100;
}
